body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: 'Droid Sans, Helvetica, HelveticaNeue';
}
@media screen and (max-width: 767px) {
  .new-hidden-head {
    display: none !important;
  }
}
@font-face {
  font-family: "rb";
  src: url("./rb.ttf");
}
@font-face {
  font-family: "dm";
  src: url("./dm.otf");
}