
@body-white-bg: #fff;
@black-hr-color: #a238c1;
@title-color: #a238c1;
.body {
    padding: 0;
    margin: 0;
    background-color: @body-white-bg;
    font-family: 'Droid Sans, Helvetica, HelveticaNeue';
}

#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.pict {
    width: 100%;
    height: auto;
}
.mid-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid-width {
    width: 72.92vw;
}
.flex-change-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobile-mid-width {
    width: 92.92vw;
}
.text-left {
    text-align: left;
  }
.text-right {
    text-align: right;
}
.text-center{
    text-align: center;
}
.bold-font{
    font-weight: bold;
}
.mid-width-content {
    width: 70vw;
}
.justify{
    text-align: justify;
}
.flex-between{
    .mid-box;
    justify-content: space-between;
}
.flex-start{
    .mid-box;
    align-items: flex-start;
}
.flex-around{
    .mid-box;
    justify-content: space-around;
}
.flex-change-around{
    .flex-change-box;
    justify-content: space-around;
}
.flex-change-start{
    .flex-change-box;
    align-items: flex-start;
}

